
.showData {
    position: relative;
  }
  
  .showData__flag {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  .showData__informationAndWorld {
    width: 100%;
    height: 1451px;
    background-color: var(--background-color, #494949);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background-size: cover; 
    background-repeat: no-repeat; 
    z-index: 1;
    display: flex; 
    flex-direction: column;
    position: relative;  
  }
  
  .showData__information {
    margin-top: 443px;
    margin-left: 16.67%;
    width: 624px;
  }
  
  .showData__information h2 {
    color: var(--White-Color, #FFF);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; 
    margin-bottom: 60px;
  }
  
  .newHorizon {
    color: var(--Secundary-Color, #FFBB95);
  }
  
  .showData__information p {
    color: var(--White-Color, #FFF);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    margin-bottom: 60px;
  }
  
  .showData__numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  .number {
    width: 195px;
    height: 170px;
    flex-shrink: 0; 
    border-radius: 30px;
    background: #646464;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .number h3 {
    color: var(--White-Color, #FFBB95);
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; 
    margin-top: 35px;
    margin-bottom: 15px;
  }
  
  .number h4 {
    color: var(--White-Color, #FFF);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
  }

  /*Responsive_________________________________________________________________________________________________________________________*/

  /*Laptop*/
  @media screen and (max-width: 1440px) {
    .showData__informationAndWorld {
      height: 1200px;
    }
  
    .showData__information {
      margin-top: 343px;
      margin-left: 13%;
      width: 450px;
    }
  
    .showData__information h2 {
      font-size: 50px;
      line-height: 60px; 
      margin-bottom: 50px;
    }
  
    .showData__information p {
      font-size: 25px;
      line-height: 45px; 
      margin-bottom: 50px;
    }
  
    .showData__numbers {
      margin-bottom: 50px;
    }
  
    .number {
      width: 8.7rem;
      height: 9rem;
    }
  
    .number h3 {
      font-size: 2rem;
      line-height: 35px; 
      margin-top: 30px;
      margin-bottom: 10px;
    }
  
    .number h4 {
      font-size: 1rem;
      line-height: 20px;
    }
  }

  @media screen and (max-width: 1000px) {


    .showData__informationAndWorld {
      height: 1200px;
    }
  
    .showData__information {
      margin-top: 343px;
      margin-left: 0px;
      width: 80vw;
      margin: auto;
    }
  
    .showData__information h2 {
      font-size: 50px;
      line-height: 60px; 
      margin-bottom: 50px;
    }
  
    .showData__information p {
      font-size: 25px;
      line-height: 45px; 
      margin-bottom: 50px;
    }
  
    .showData__numbers {
      margin-bottom: 50px;
    }
  
    .number {
      width: 30%;
      height: 9rem;
    }
  
    .number h3 {
      font-size: 2.5rem;

    }
  
    .number h4 {
      font-size: 1.3rem;
      line-height: 25px;
    }
  }

    /*Tablet*/

  @media screen and (max-width: 768px) {


    .showData__informationAndWorld {
      height: 1300px;
    }
  
    .showData__information {
      width: 80vw;
      margin: auto;
    }
  
    .showData__information h2 {
      text-align: center;
      margin-top: 10rem;
    }
  
    .showData__information p {
    text-align: center;
    }
  
    .showData__numbers {
      margin-bottom: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .number {
      width: 100%;
      height: 138px;
      display: flex;
      margin-bottom: 39px;
      justify-content: space-around;
      align-items: center;
    }
  
    .number h3 {
      font-size: 10vw;
      margin-top: 0px;
      margin-bottom: 0px;

    }
  
    .number h4 {
      font-size: 5vw;
      line-height: 5vh;
    }
  }


  /*Cellphone*/

  @media screen and (max-width: 468px) {


    .showData__flag{
      display: none;
    }

    .showData__informationAndWorld {
      height: 1200px;
      clip-path: polygon(0 3%, 100% 0, 100% 98%, 0 100%);
    }
  
    .showData__information {
      width: 80vw;
      margin: auto;
    }
  
    .showData__information h2 {
      text-align: center;
      margin-top: 6rem;
    }
  
    .showData__information p {
    text-align: center;
    }
  
    .showData__numbers {
      margin-bottom: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .number {
      width: 100%;
      height: 94px;
      display: flex;
      margin-bottom: 39px;
      justify-content: space-around;
      align-items: center;
    }
  
    .number h3 {
      font-size: 40px;
      margin-top: 0px;
      margin-bottom: 0px;

    }
  
    .number h4 {
      font-size: 20px;
      line-height: 25px;
    }
  }


  

  