.canvas-container {
    width: 662px;
    height: 600px; 
    margin: 0 auto;
    position: relative; 
    top: -710px; 
    left: 500px;
  }
  
  Canvas {
padding: 1px;
box-sizing: content-box;
  }


  @media screen and (max-width: 1440px) {
    .canvas-container {
margin-left: 230px;
    }

  }

  @media screen and (max-width: 1000px) {
    .canvas-container {
display: none;
    }

  }



