.canvas-container {
    width: 562px;
    height: 400px; 
    margin: 0 auto;
    position: relative; 
    top: -710px; 
    left: 400px;
  }
  
  Canvas {
padding: 1px;
box-sizing: content-box;
  }


  @media screen and (max-width: 1440px) {
    .canvas-container {
margin-left: 230px;
    }

    .canvas-container {
      width: 362px;
      height: 600px; 
      margin: 0 auto;
      position: relative; 
      top: -710px; 
      left: 400px;
    }

  }

  @media screen and (max-width: 1000px) {
    .canvas-container {
display: none;
    }

  }



