.footer {
  width: 100%;
  background-color: var(--background-color, #494949);
  height: 800px;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  margin-top: 150px;
}

.footer__container {
  width: 100%;
}

.footer__content {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__row {
  width: calc(25% - 20px);
  margin-top: 220px;
}

.footer__rights {
  color: var(--White-Color, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__title {
  color: var(--Secundary-Color, #FFBB95);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.footer__item {
  color: var(--White-Color, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.footer__item a {
  color: var(--White-Color, #FFF);
  text-decoration: none;
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__logo img {
  display: block;
  width: auto;
  max-width: 100%;
}

.footer__author {
  width: 100%;
}

.footer__author h3 {
  color: var(--White-Color, #FFF);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  margin-top: 200px;
}

.footer__author{
text-align: center;
color: white;
font-weight: 600;
padding-top: 80px;
font-size: 17px
}


/*Responsive___________________________________________________________________________________________________________________________*/


/*Laptop*/

@media screen and (max-width: 1440px) {
 

  .footer__container {
    width: 950px;
    margin: auto;
  }

  .footer__rights {
    font-size: 15px;
  }
}

/*Tablet*/

@media screen and (max-width: 768px) {
 

  .footer__container {
    width: 85%;
    margin: auto;
  }

  .footer__rights {
    font-size: 15px;
  }

  .footer__title{
    font-size: 20px;
  }

  .footer__logo img {
    max-width: 70%;

  }
  
.footer__item {
  font-weight: 400;
  line-height: 35px;
  font-size: 13px;
}
}


/*Cellphone*/

@media screen and (max-width: 600px) {

  .footer {
    height: 100%;
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
    margin-top: 150px;
  }

  .footer__content {
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__row {
    width: 100%;
    margin-top: 90px;
  }

  .footer__item {
    font-weight: 400;
    line-height: 50px;
    font-size: 17px;
    text-align: center;
  }

  .footer__title{
    font-size: 20px;
    text-align: center;
  }

   .footer__rights{
    width: 150px;
   margin-left: 0px;
   margin-right: 0px;
   margin: auto;

   }
  .footer__logo img {
    margin: auto;
  }

  .footer__author h3 {
    margin-top: 50px;
  }






}