/* Header Styles */
.header {
  width: 100vw;
}

.header__content {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #494949;
  z-index: 100;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header__hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  
}


.hamburger__line {
  width: 100%;
  height: 3px;
  background-color: var(--white-color, #fff);
}

.header__hamburger.menu__open .hamburger__line {
  background-color: var(--secondary-color, orange);
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu li {
  position: relative;
  margin-right: 20px;
}

.header__menu li a {
  color: var(--White-Color, #FFF);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__menu ul li a:nth-child(4) {
  margin-right: 0px;
}

.header__menu li a:hover {
  color: var(--secondary-color, #FFBB95);
}

.header__menu li a:active {
  color: var(--tertiary-color, #ABCDFF);
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__platforms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
}

.header__title {
  color: var(--White-Color, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.close__icon {
  position: absolute; 
  top: 20px; 
  right: 20px; 
  z-index: 20; 
  cursor: pointer; 
  width: 40px;
  height: 40px;
}


/* Responsive styles__________________________________________________________________________________________________________________ */

/* Laptop */
@media (max-width: 1440px) {
  .header {
    width: 75%;
    padding: 0 20px;
  }

  .header__logo img {
    width: 80%;
    height: 80%;
    margin-top: 1rem;
  }

  .header__menu {
    width: 100%;
  }

  .header__menu li a {
    font-size: 20px;
    margin-right: 50px;
  }

  .header__menu ul li a:nth-child(4) {
    margin-right: 0px;
  }
  .header__platforms {
    width: 30vw;
  }
  

}

@media (max-width: 1000px) {
  .header li {
    padding: 0 0px;
    width: 80px;
    margin-right: 0px;
  }

  .header__menu ul li a {
    font-size: 15px;
  }

  .header__logo img {
    width: 70px;
    height: 80%;
    margin-top: 1rem;
  }

  .header__title {
    font-size: 15px;
  }

  .header__platforms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
  }
  
}

/* Tablet */
@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0 20px;
  }
  

  .header__hamburger {
    display: flex;
  }

  .header__menu {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Cambiado para ocupar el 100% del alto */
    background-color: #fff;
    z-index: 10;
    transition: max-height 0.5s ease-in-out;
  }

  .header__menu.menu__open {
    max-height: 100vh;
  }

  .header__menu ul {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  

  .header__menu li {
    margin: 10px 0;
    text-align: center;
  }

  .header__menu li a {
    margin-right: 0;
    color: var(--Primary-Color, #5D5FEF);
  }

  .header__submenu {
    position: static;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }

  .submenu__description {
    display: none;
  }

  .header__submenu ul {
    background-color: transparent;
    border-radius: 30px;
    box-shadow: none;
    padding: 10px 0;
    margin: 10px 0;
  }

  .header__submenu li {
    margin-left: 0;
  }

  .header__submenu li a {
    font-weight: 300;
    padding-bottom: 0px;
  }

  .header__submenu li img {
    width: 20px;
    height: 20px;
  }

  .header__logo {
    width: 5rem;
  }

  .header__logo img {
    margin-top: 1rem;
  }

  .header__submenu img {
    display: none;
  }

  .header__submenu ul {
    height: 150px;
  }

  .header__submenu ul li {
    line-height: normal;
    justify-content: center;
    align-items: center;
  }

  .header__submenu ul li a {
    width: 200px;
  }

  .header__title {
    display: none;
  }

  .hamburger__line{
   margin-left: 20vw;
  }

  .header__platforms{
    margin-left: 30vw;
  }

}

/* Celular */
@media (max-width: 480px) {
  .header__content {
    padding: 10px 20px;
  }

  .header__menu {
    padding-left: 1rem;
  }

  .header__menu ul li {
    width: 100vw;
  }

  .header__menu ul li a {
    font-size: 24px;
    margin-right: 0px;
  }

  .header__menu .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }


}
