.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: auto;
    margin-top: 121px;
}

.container__data{
    width: 413px;
}

.container__data h1{
    color: var(--White-Color, #FFF);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 95px; 
    margin-bottom: 40px;
}

.container__data p{
    color: var(--White-Color, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}



/*Responsive Area----------------------------------------------------------------------------------------------------------------*/

/*laptop*/

@media screen and (max-width: 1440px){
    .container{
    width: 950px;
    }
    
    .container__data{
        width: 300px;
    }
    
    .container__data h1{
        color: var(--White-Color, #FFF);
        font-size: 60px;
        line-height: 60px; 
    }
    
    .container__data p{
        color: var(--White-Color, #FFF);
        font-size: 18px;
    }

    .container__image img{
        width: 451px;
        height: 550px;
        padding-bottom: 40px;

    }
}


@media screen and (max-width: 1000px){
    .container{
    width: 700px;
    }
    
    .container__data{
        width: 300px;
        margin-right: 90px;
    }
    
    .container__data h1{
        font-size: 50px;
        line-height: 55px; 
    }
    
    .container__data p{
        font-size: 15px;
    }

    .container__image img{
        width: 80%;
        height: 80%;

    }
}





/*Tablet*/
@media screen and (max-width: 768px){
    .container{
    width: 80%;
    }
    
    .container__data{
        width: 30vw;
    }
    
    .container__data h1{
        color: var(--White-Color, #FFF);
        font-size: 5vw;
        line-height: 50px; 
        margin-bottom: 10px;
    }
    
    .container__data p{
        font-size: 12px;
    }

    .container__image img{
        width: 30vw;
        height: 40vw;

    }
}



/*Tablet*/
@media screen and (max-width: 768px){
    .container{
    width: 80vw;
    }
    
    .container__data{
        width: 30vw;
    }
    
    .container__data h1{
        color: var(--White-Color, #FFF);
        font-size: 5vw;
        line-height: 50px; 
        margin-bottom: 10px;
        margin: auto;
    }
    
    .container__data p{
        font-size: 12px;
    }

    .container__image img{
        width: 30vw;
        height: 40vw;

    }
}


/*cellphone*/
@media screen and (max-width: 486px){
    .container{
    width: 80%;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    }
    
    .container__data{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    
    .container__data h1{
        color: var(--White-Color, #FFF);
        font-size: 3rem;
        line-height: 50px; 
        margin: 0px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .container__data p{
        font-size: 12px;
        text-align: center;
    }

    .container__image img{
        margin-top: 40px;
        width: 70%;
        height: 70%;

    }
}