.gradientBackground {
    background-color: #5d5fef;
    background-image: linear-gradient(to right, #5D5FEF, #8D8FFF);
    width: 100%;
    height: 1102px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  