.container {
    width: 1280px;
    margin: auto;
    margin-top: 175px;
}

.container__title {
    color: var(--Grey-Backround, #756D6D);
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;
}

.allContainers {
    display: flex;
}

.leftContainer {
    margin-right: 20px;
}

.leftContainer > .blog {
    margin-bottom: 60px;
}

.rigthContainer {
    margin-top: 120px;
}

.rigthContainer > .blog {
    margin-bottom: 60px;
}

.blog {
    width: 630px;
    border-radius: 10px;
    background: #646464;
    box-shadow: 0px 15px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box; 
}

.blog__image {
    width: 100%;
    height: 312px;
    border-radius: 10px;
    overflow: hidden;
}

.blog__image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 1s ease;
}

.blog:hover .blog__image img {
    transform: scale(1.3);
}

.blog__icon {
    height: 33px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Secundary-Color, #FFBB95);
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 27px;
    padding-left: 12px;
    padding-right: 12px;
}

.blog__icon h4 {
    color: var(--White-Color, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 7px;
}

.blog__icon img {
    margin-left: 10px;
}

.blog__text {
    margin-left: 25px;
}

.blog__text h2 {
    color: var(--Secundary-Color, #FFBB95);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog__text h3 {
    color: var(--White-Color, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
}

.button__watchMore {
    width: 280px;
    height: 51px;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: transparent;
    color: var(--Grey-Backround, #756D6D);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    padding: 10px;
}

.button__watchMore:hover {
    background-color: var(--primary-color, #5D5FEF);
    color: var(--White-Color, #FFF);
    transition: 0.5s;
    border: none;
}

/*Laptop*/

@media screen and (max-width: 1440px) {
   
    .container {
        width: 950px;
    }

    .container__title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 50px;
    }

    .blog {
        width: 450px;
    }

    .blog__image {
        height: 220px;
    }

    .blog__icon {
        height: 25px;
        margin-top: 20px;
    }

    .blog__icon h4 {
        font-size: 12px;
    }

    .blog__icon img {
        margin-left: 5px;
    }

    .blog__text h2 {
        font-size: 30px;
    }

    .blog__text h3 {
        font-size: 12px;
    }

    .button__watchMore {
        width: 200px;
        height: 40px;
        font-size: 20px;
        margin-top: 30px;
    }
    
}


@media screen and (max-width: 1000px) {

    .container {
        width: 700px;
    }

    .container__title {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 50px;
    }

    .blog {
        width: 350px;
    }

    .blog__image {
        height: 220px;
    }

    .blog__icon {
        height: 25px;
        margin-top: 20px;
    }

    .blog__icon h4 {
        font-size: 12px;
    }

    .blog__icon img {
        margin-left: 5px;
        width: 10px;
        height: 10px;

    }

    .blog__text h2 {
        font-size: 25px;
    }

    .blog__text h3 {
        font-size: 12px;
    }

    .button__watchMore {
        width: 200px;
        height: 40px;
        font-size: 20px;
        margin-top: 30px;
    }
}

/*Tablet*/

@media screen and (max-width: 768px) {


    .container {
        width: 90vw;
    }

    .blog {
        width: 40vw;
    }

    .blog__text h2 {
        font-size: 4vw;
    }

    .blog__icon h4 {
        font-size: 1.5vw;
    }
}

/*Cellphone*/
@media screen and (max-width: 468px) {

    .allContainers {
        flex-direction:column-reverse;
        padding-top: 0px;
        height: 1870px;
   
    }
  
    .container {
        width: 80vw;
        margin: auto;
        margin-top: 75px;
    }

}