.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: auto;
    margin-top: 121px;
}

.container__data{
    width: 413px;
}

.container__data h1{
    color: var(--White-Color, #FFF);
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 95px; 
    margin-bottom: 40px;
}

.container__data p{
    color: var(--White-Color, #FFF);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}



