
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;;
}

body {
  font-family: 'Nunito', sans-serif;
}

:root {
  --primary-color: #5D5FEF;
  --secondary-color: #FFBB95;
  --tertiary-color: #ABCDFF;
  --background-color: #494949;
  --backgroundSecundary-color: #C4C4C4;
  --white-color: #fff;
  --border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}